package ${package.Parent}.pojo.dto;

import java.io.Serializable;
import java.time.LocalDateTime;
import lombok.Getter;
import lombok.Setter;

import io.swagger.annotations.ApiModelProperty;

#if($!{table.comment} != '')
#set($table.comment = $table.comment.replace("表", ""))
#end

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Getter
@Setter
public class ${entity}DTO implements Serializable {

    #foreach($field in ${table.fields})
    #if($!field.propertyName != "createdAt" && $!field.propertyName != "updatedAt" && $!field.propertyName != "deleted")
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
    #end
    #if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
    @ApiModelProperty(value = "${field.comment}")
    #end
    private ${field.propertyType} ${field.propertyName};

    #end
    #end
}